<div id="about-short">
  <img src="/headshot.jpg" width="100" height="100" alt="My head shot">
  <div>
    Hi! I'm <a href="{{ ref . "/about.md" }}">George</a>. I do things in the cloud and sometimes write about it. 
  </div>
    If you like what you read, join my newsletter below.

  <form action="https://newsletter.gjhr.me/subscribe">
    <input type="email" class="about-short-text" name="email" placeholder="email">
    <input type="submit" class="about-short-submit" value="Subscribe">
  </form>
</div>
