<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ partial "styles.html" . }}
  {{ if .Params.pagestyles }}
  <style>
    {{ .Params.pagestyles | safeCSS }}
  </style>
  {{ end }}
  <script defer data-domain="gjhr.me" src="https://plausible.io/js/plausible.js"></script>
</head>
  