<style type="text/css">
  body {
    margin: auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
  }

  h1,
  h2,
  h3 {
    line-height: 1.2
  }

  a,
  a:visited {
    color: #666;
  }

  footer {
    margin-top: 10px;
  }

  time {
    font-style: italic;
  }

  .flex-spaced {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .svg-icon {
    width: 16px;
    height: 16px;
    fill: #444;
  }

  .svg-inline {
    display: none;
  }

  #main-header div {
    flex-grow: 100;
  }

  #main-header div a {
    margin-left: 5px;
  }

  #main-footer div {
    margin-left: 5px;
  }

  img {
    max-width: 100%;
  }

</style>