body {
  margin: auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

a,
a:visited {
  color: #333;
  text-decoration-color: #19C7E5;
  text-decoration-thickness: 2px;
}

footer {
  margin-top: 10px;
}

time {
  font-style: italic;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  font-size: 0.7em;
}

hr {
  width: 80%;
  border: 1px solid lightgray;
}

.flex-spaced {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.svg-icon {
  width: 16px;
  height: 16px;
  fill: #444;
}

.svg-inline {
  display: none;
}

#main-header div {
  flex-grow: 100;
}

#main-header div a {
  margin-left: 5px;
}

#main-footer div {
  margin-left: 5px;
}

#about-short {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

#about-short img {
  border-radius: 50%;
}

#about-short div {
  flex-grow: 1;
  width: 75%;
  min-width: 75%;
  max-width: 100%;
}

#about-short form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.about-short-submit {
  color: white;
  background-color: #0F9AFC;
}

img {
  max-width: 100%;
}

pre {
  white-space: pre-wrap;
  font-size: 0.75em;
}

.small {
  font-size: 0.7em;
}

.index-list li {
  padding-bottom: 0.7em;
}
