{{ define "main" }}
<ul class="index-list">
  {{ range ( where .Site.RegularPages "Type" "posts" ) }}
    {{ if isset .Params "externallink" }}
    <li>
      {{ .Date.Format "January 02, 2006" }}<br>({{ index (split .Params.externallink "/") 2 }}) <a href="{{.Params.externallink}}" target="_blank">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      {{ .Date.Format "January 02, 2006" }}<br><a href="{{.RelPermalink}}">{{ .Title }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>

<p>subscribe <a  href="/feed.xml" />via RSS</a></p>
{{ end }}